/.vscode
/part1/.vscode
/part1/anecdotes/.vscode
/part1/anecdotes/node_modules
/part1/courseinfo/node_modules
/part1/unicafe/.vscode
/part1/unicafe/node_modules
/part2/courseinfo/node_modules
/part2/phonebook/.vscode
/part2/phonebook/node_modules
/part2/dataforcountries/.vscode
/part2/dataforcountries/node_modules
/part2/dataforcountries/.env
/part3/phonebookbackend/node_modules
/part3/phonebookbackend/.env
/part3/phonebookbackend/test_persons.rest
/part4/bloglist/node_modules
/part4/bloglist/.env
/part4/bloglist/test_blogs_app.rest
/part5/bloglist-frontend/node_modules
/part5/bloglist-frontend/.vscode
/part5/bloglist-frontend/cypress/videos
/part5/bloglist/node_modules
/part5/bloglist/test_blogs_app.rest
/part5/bloglist/.env
/part7/routed-anecdotes/.vscode
/part7/routed-anecdotes/node_modules
/part6/unicafe-redux/.vscode
/part6/unicafe-redux/node_modules
/part6/redux-anecdotes/.vscode
/part6/redux-anecdotes/node_modules
/part8/library-backend/.vscode
/part8/library-backend/node_modules
/part8/library-frontend/node_modules
